/* 
    Created on : Feb 26, 2017, 11:34:05 PM
    Author     : lucas.burdell
*/

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.textlink{
    -fx-border-color: #00000000;
    -fx-text-fill: #0d72bf;
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-background-color: #00000000;
    
    -fx-border-style: none;
    -fx-underline: false;
}
.textlink:hover{
    
    -fx-border-color: #00000000;
    -fx-background-color: #00000000;
    -fx-text-fill: khaki;
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-border-style: none;
    -fx-underline: false;
}
/*
.textlink:active{
    /*
    -fx-border-color: #00000000;
    -fx-text-fill: khaki;
    -fx-border-style: none;
    -fx-underline: false;
    
    -fx-border-color: #00000000;
    -fx-text-fill: blue;
    -fx-border-style: none;
    -fx-underline: false;
}
*/
/*
.textlink:focused{
    /*
    -fx-border-color: #00000000;
    -fx-border-style: none;
    -fx-text-fill: khaki;
    -fx-underline: false;
    

    -fx-border-color: #00000000;
    -fx-text-fill: blue;
    -fx-border-style: none;
    -fx-underline: false;

}
*/

